@import 'reset/reset' , 'reset/menu-nav' , 'reset/menu-section' , 'reset/footer';

// 
// SECTION COMPRAR
// 

.comprar {
    background: var(--blanco-e);
    padding-bottom: 5em;
}

.contenedor-comprar {
    width: 80%;
    margin: auto;
}

// 
// GRID
// 


.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity .3s linear .3s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(25% - 20px);
    border-radius: 10px;
    overflow: hidden;
}

.grid .item-contenido {
    position: relative;
}

.grid .item .img {
    width: 100%;
    cursor: pointer;
    vertical-align: top;
    transition: all .2s ease-in-out;
}

.grid .item .img:hover {
    transform: scale(1.03);
}


// 
// OVERLAY
// 

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--negro-9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 101;
}

.overlay.activo {
    display: flex;
}

.overlay .img {
    max-width: 100%;
}

.overlay .descripcion {
    display: block;
    background: var(--blanco);
    padding: 1em;
    text-align: center;
    margin-top: .5em;
    border-radius: .5em;
    max-width: 50%;
}

.contenedor-img {
    position: relative;
}

.overlay #btn-cerrar-popup {
    position: absolute;
    background: none;
    font-size: 1.5em;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    right: -.7em;
    top: -1em;
}

@media screen and(max-width: 1000px) {
    .contenedor-comprar {
        width: 90%;
        max-width: 800px;
        margin: auto;
    }

    .grid .item {
        width: calc(33.3333% - 20px);
    }
}
@media screen and(max-width: 700px) {
    .grid .item {
        width: calc(50% - 20px);
    }
}