@mixin flex($ali,$jus) {
    display: flex;
    align-items: $ali;
    justify-content: $jus;
}

    // 
    // Neumorphism
    // 
    @mixin neo($valor1,$valor2,$valor3,$rgb,$radius) {
        box-shadow: $valor1 $valor2 $valor3 $rgb;
        border-radius: $radius;
    }

@mixin transition($all,$s,$ease) {
    transition: $all $s $ease;
}
@mixin background-image {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}