@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

:root {
    --blanco: #ffffff;
    --blanco-4: rgba(255, 255, 255, .4);
    --blanco-8: rgba(255, 255, 255, 0.8);
    --negro: #000;
    --negro-5: rgba(0, 0, 0, 0.5);
    --tipo-titular: 'Playfair Display', serif;
    --tipo-principal: 'Inter', sans-serif;
}

@media screen and (prefers-color-scheme:dark) {
    :root {
        --blanco: #000;
        --blanco-4: rgba(0, 0, 0, .4);
        --blanco-8: rgba(0, 0, 0, 0.8);
        --negro: #fff;
        --negro-5: rgba(255, 255, 255, 0.5);
        --tipo-titular: 'Playfair Display', serif;
        --tipo-principal: 'Inter', sans-serif;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

li, a {
    list-style: none;
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: none;
}

body {
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh;
    background-color: var(--negro);
    color: var(--blanco);
    font-smooth: always;
    cursor: none;
}

.circulos{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(40px);
    animation: circulo1 25s linear infinite both;
}
.circulos .circulo{
    position: absolute;
    width: 70%;
    height: 60%;

    animation: circulo1 25s linear infinite both;
}
.circulos .circulo1{
    top: 0;
    left: 0;
}
.circulos .circulo1 .path {
    fill: #070570;
}
.circulos .circulo2{
    top: 0;
    right: 0;
}
.circulos .circulo2 .path {
    fill: #55084f;
}
.circulos .circulo3{
    bottom: 0;
    left: 0;
}
.circulos .circulo3 .path {
    fill: #6a00ff;
}
.circulos .circulo4{
    bottom: 0;
    right: 0;
}
.circulos .circulo4 .path {
    fill: #a55675;
}

.header{
    width: 100%;
    min-height: 5em;
    // background: lightblue;

    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    display: none;
}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    // background: lime;
    margin: 0 1em;
}

.main {
    background: var(--negro-5);
    margin: 0 0 1em;
    text-align: center;
    position: relative;
    z-index: 2;
}
.seccion {
    width: 100%;
    min-height: 100vh;
    margin:0 0 1em 0;
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccion .info {
    font-size: .7em;
    animation: aparecer1 2s ease 1 both;
}
.seccion .ul{
    // background: red;
    margin: 3em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.seccion .ul .li{
    // background: chartreuse;
    margin: 0 2.5em;
}
.seccion .ul .a{
    border: 2px solid var(--blanco-4);
    border-radius: 50%;
    padding: 1em 1em 1em;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 800;
    transition: all .5 ease;
    animation: aparecer1 2s ease 1 backwards;
}
.seccion .ul>:nth-of-type(2) .a {
    animation-delay: .3s;
}
.seccion .ul .a:hover{
    border-color: var(--blanco);
}
.seccion .h2{
    font-family: var(--tipo-titular);
    font-weight: 800;
    font-size: 6em;
    line-height: 1em;
    color: var(--blanco);
}
.seccion .h3{
    font-family: var(--tipo-titular);
    font-size: 4.5em;
    color: var(--blanco-8);
}
.seccion .grid {
    width: 50%;
    max-width: 80em;
    margin: 2em 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 8rem , 1fr));
    gap: 1em;
}
.seccion .article {
    width: 100%;
    min-height: 20vh;
    background: lightgoldenrodyellow;

    display: flex;
    flex-flow: columns nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    border-radius: 1em;
}
.seccion .figure {
    width: 100%;
    background: red;
}
.seccion .img {
    width: 100%;
    background: lime;
}
.seccion .h4{
    width: 100%;
    height: 100%;
    background-color: var(--negro-5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color: var(--blanco);
    font-size: 1.3em;
    font-family: var(--tipo-titular);
    font-style: italic;

    opacity: 0;
    transform: translateZ(1) scale(1.5);
    transition: all .5s ease;
}
.seccion .article:hover .h4{
    opacity: 1;
    transform: translateZ(1) scale(1);
}
.works {
    background: rgba(0, 0, 0, 0.5);
    color: var(--blanco);
}
.works .h2 {
    margin: 0 0 1rem;
    color: inherit;
    font-size: 3em;
}

.about {}
.about .h2{
    margin: 0 0 2rem;
}
.about .fin {
    font-family: var(--tipo-titular);
    font-size: 3em;
    margin: 0 0 .5em 0;
}
.about .p{
    max-width: 30rem;
    // background: lime;
    margin: 0 0 2rem;
    font-size: 1em;
    text-align: left;
}
.about .rrss{
    width: 100%;
    // background: lightgreen;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about .li{
    // background: orange;
    margin: 0 1em;
}
.about .a{}
.about .svg{
    width: 3em;
    height: 3em;
    // background: red;
}


.footer {
    // background-color: lightpink;
    width: 100%;
    padding: 2em 0;
    text-align: center;
    color: var(--blanco);
    position: absolute;
    z-index: 2;
}
.footer .span{}



@keyframes circulo1 {
    from{
        transform: rotate(0deg) scale(1.8);
    }
    to{
        transform: rotate(360deg) scale(1.8);
    }
}

@keyframes aparecer1 {
    from{
        transform: translateY(50%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}



#flecha {
    width: 3.5em;
    height: 3.5em;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
}

#flecha.mini {
    transform: scale(0.7);
    transition: all .1s linear;
}