.main-nosotros{
    // background: lightblue;
    background: $color10;
    width: 100%;
    color: $color1;
    overflow: hidden;
    .title{
        // background: lightcoral;
        text-align: center;
        padding: 1rem;
        .h1{
            margin: 0;
            font-family: $tipo-principal;
            font-size: 4rem;
            font-weight: 300;
        }
        .h2{
            font-family: $tipo-cursiva;
            font-size: 2rem;
            font-weight: 300;
            margin: 1rem;
            user-select: none;
        }
    }
    .targets{
        // background: lightcoral;
        color: $blanco;
        width: 90%;
        margin: auto;
        overflow: hidden;
        .derecha{
            transform: translateX(100px);
        }
        .izquierda{
            transform: translateX(-100px);
        }
        .target{
            // background: lightblue;
            padding: 5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            @include transition(all,.5s,ease-in-out);
            .div{
                text-align: center;
                max-width: 500px;
                margin: 0 1rem;
                font-family: $tipo_cursiva;
                font-weight: 300;
                font-size: 1.5rem;
                border-radius: .5rem;
                @include transition(all,.2s,ease-in-out);
                .p{
                    padding: 3rem;
                }
            }
            &.visible{
                opacity: 1;
                transform: translate(0);
                opacity: 1;
                background-image: url(../assets/img/image1.jpg);
                @include background-image;
                background-attachment: fixed;
            }
        }
    }
}

@media screen and (max-width:750px){
    .main-nosotros{
        .title{
            .h1{
                padding-top: 5rem;
                font-size: 3.5rem;
            }
            .h2{
                font-size: 1.7rem;
                margin: 1.5rem;
            }
        }
    }
}
@media screen and (max-width:620px){
    .main-nosotros{
        .title{
            .h2{
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width:600px){
    .main-nosotros{
        .title{
            .h1{
                padding-top: 5rem;
                font-size: 3.5rem;
            }
            .h2{
                font-size: 1.7rem;
                margin: 1.5rem;
            }
        }
        .targets{
            .target{
                padding: 2rem 0;
                .div{
                    font-size: 1.3rem;
                    line-height: 1.5;
                    .p{
                        padding: 2rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:590px){
    .main-nosotros{
        .title{
            .h2{
                font-size: 1.3rem;
            }
        }
    }
}
@media screen and (max-width:405px){
    .main-nosotros{
        .title{
            .h1{
                font-size: 3rem;
            }
            .h2{
                font-size: 1.2rem;
            }
        }
        .targets{
            .target{
                .div{
                    font-size: 1.2rem;
                }
            }
        }
    }
}