.line__footer--content {
    width: 100%;
    margin-top: 100px;
    height: 2px;
    background: var(--rojo);
}

footer {
    background:var(--blanco);
    padding-bottom:.1px;
    font-family: 'Work Sans', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 40px
}

.contact-us {
    margin: auto;
    width: 40%;
    color: var(--blanco);
}

.h2-brand{
    margin: auto;
    color: var(--rojo);
    font-weight: 300;
    font-size: 3em;
    text-decoration: none;
}

.subtitulo {
    font-weight: 300;
    font-size: 20px;
    margin: auto;
    color: var(--rojo-b4);
}

.social-media {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display:inline-block;
    margin-left:20px;
    width:60px;
    height:60px;
    background: #f2f2f2;
    box-shadow:  19px 19px 38px #bebebe,
            -19px -19px 38px var(--blanco);
    border-radius:50%;
    text-align:center;
    color:#000;
    transition: all .2s ease-out;
}

.social-media-icon i {
    font-size:30px;
    line-height:60px;
}

.line__footer {
    width:90%;
    max-width:1200px;
    margin:auto;
    height:2px;
    background: var(--rojo-b4);
    margin-bottom: 30px;
}

.social-media-icon:hover {
    background:var(--blanco);
    color:var(--negro);
}

.facebook {
    background:#1877f2;
    color:var(--blanco);
}
.facebook:hover {
    background: var(--blanco);
    color:#1877f2;
}

.twitter {
    background:#1da1f2;
    color:var(--blanco);
}
.twitter:hover {
    background:var(--blanco);
    color:#1da1f2;
}

.instagram {
    background-image:linear-gradient(135deg,#2600ce 0,#df0101,#fe0 100%);
    color:var(--blanco);
}
.instagram:hover {
    background: var(--blanco);
    color: #df0101;
}

.whatsapp {
    background:#25d366;
    color: var(--blanco);
}
.whatsapp:hover {
    background: var(--blanco);
    color: #25d366;
}

// 
// FOOTER RESPONSIVE
// 

@media screen and(max-width:630px) {
    .footer-content {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .contact-us {
        margin: 0 auto 1em auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .h2-brand{
        margin: auto;
        color: var(--rojo);
        font-weight: 300;
        font-size: 3em;
        text-decoration: none;
    }
    
    .subtitulo {
        font-weight: 300;
        font-size: 1.5em;
        margin: auto;
        color: var(--rojo-b4);
    }
    
    .social-media {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-media-icon {
        margin: auto;
    }

    .maps {
        height: 300px;
    }
}

@media screen and(max-width:600px) {
    .social-media {
        width: 60%;
    }
}

@media screen and(max-width:550px) {
    .social-media {
        width: 70%;
    }
}

@media screen and(max-width:500px) {
    .social-media {
        width: 75%;
    }
}