@keyframes white-neon {
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
        text-shadow: 9px 9px 15px var(--gris-c), 
        3px 3px 5px var(--gris-85), 
        -3px -3px 5px var(--blanco),
        -9px -9px 15px var(--gris-c);
    }
    
    10%, 15%, 60% {
        text-shadow: none;
    }
    
    20%, 90% {
        color: var(--rojo);
    } 
}

@keyframes porcentaje-neon {
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
    text-shadow: 9px 9px 15px rgb(17, 192, 46), 
                    3px 3px 5px rgb(0, 0, 0), 
                    -3px -3px 5px rgb(255, 255, 255),
                    -9px -9px 15px rgb(17, 192, 46);
    }

    10%, 15%, 60% {
        text-shadow: none;
    }
}

@keyframes white-neon1 {
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
        text-shadow: 9px 9px 18px var(--gris-c), 
                    3px 3px 5px var(--blanco), 
                    -3px -3px 5px var(--gris-c),
                    -9px -9px 27px var(--gris-c);
    }

    10%, 15%, 60% {
        text-shadow: none;
    }        
}