// 
// IMPORTANDO LOS ESTILOS DEL MODAL
@import 'entrar/entrar';

.section-index {
    // background: lightblue;
    width: 100%;
    overflow: hidden;
    @include flex;
    flex-direction: column;
    .title-section{
        width: 100%;
        text-align: center;
        font-family: $tipo-principal;
        font-weight: 300;
        font-size: 3rem;
        .h2{
            padding: .5em;
            user-select: none;
        }
        .line{
            width: 90%;
            height: 2px;
            margin: 0 auto;
            background: $color4;
        }
        .h2-p{
            width: 90%;
            font-family: $tipo-cursiva;
            font-weight: 300;
            font-size: 1.8rem;
            margin: 1.5rem auto;
            color: $color3;
        }
        .h3-p{
            font-family: $tipo-cursiva;
            font-weight: 300;
            font-size: 1.5rem;
            margin-bottom: 3rem;
            color: $color3;
        }
    }
    .derecha{
        transform: translateX(100px) scale(0.9);
    }
    .izquierda{
        transform: translateX(-100px) scale(0.9);
    }
    .caja{
        // background: lightcoral;
        width: 100%;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        opacity: 0;
        @include transition-low;
        &.visible{
            opacity: 1;
            transform: translateX(0) scale(1);
        }
        .info-description{
            // background: lightgreen;
            max-width: 700px;
            @include flex;
            flex-direction: column;
            .h3{
                color: $color1;
                font-family: $tipo-principal;
                font-weight: 300;
                font-size: 4rem;
                user-select: none;
            }
            .p{
                // background: lightgray;
                font-family: $tipo-cursiva;
                font-weight: 300;
                font-size: 2rem;
                margin: 1em;
                color: $color2;
            }
        }
        .caja-imagen{
            // background: lightgoldenrodyellow;
            width: 500px;
            margin: 2em;
            border-radius: .5em;
            overflow: hidden;
            position: relative;
            &:hover .img{
                transform: scale(1.1);
            }
            &:hover .a{
                opacity: 1;
            }
            .img{
                width: 100%;
                @include transition;
            }
            .a{
                // background: lightblue;
                background: $negro-5;
                color: $blanco;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                @include flex;
                font-family: $tipo-principal;
                font-weight: 300;
                font-size: 3.5rem;
                opacity: 0;
                @include transition;
            }
        }
    }
    .reverse{
        flex-direction: row-reverse;
    }
}


@media screen and(max-width:800px) {
    .section-index {
        .title-section{
            font-size: 2rem;
            .h2{
                font-size: 4rem;
            }
        }
    }
}
@media screen and(max-width:750px) {
    .section-index {
        .title-section{
            .h2{
                font-size: 3rem;
            }
            .h2-p{
                width: 90%;
                font-size: 1.6rem;
            }
        }
        .caja{
            .info-description{
                max-width: 600px;
                text-align: center;
                .h3{
                    font-size: 2.9rem;
                }
                .p{
                    font-size: 1.3rem;
                    line-height: 1.5;
                }
            }
            .caja-imagen{
                max-width: 400px;
                margin: 0;
                .a{
                    font-size: 3rem;
                    opacity: 1;
                    &:hover{
                        opacity: 0;
                    }
                }
            }
        }
    }
}
@media screen and(max-width:600px) {
    .section-index {
        .title-section{
            .h2{
                padding-top: 6rem;
                font-size: 3rem;
            }
            .h2-p{
                width: 90%;
                font-size: 1.6rem;
            }
        }
    }
}
@media screen and(max-width:420px) {
    .section-index {
        .title-section{
            font-size: 1.6rem;
        }
        .caja{
            .info-description{
                .h3{
                    font-size: 2.5rem;
                }
                .p{
                    font-size: 1.2rem;
                    line-height: 1.3;
                }
            }
            .caja-imagen{
                max-width: 325px;
                .a{
                    font-size: 2.5rem;
                }
            }
        }
    }
}